

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'animes';

.like-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
 color: #808080;
 margin-left: 20px;
 }

.unlike-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
 color: #e54747;
 margin-left: 20px;
 }

 .saerch-button{
  margin: 5px 0 20px 0;
 }

 .profile-container{
  display: flex;
 }

 .following-button{
  margin-top: 10px;
 }

 .top-container{
  height: 600px;
  background-image: image-url("freeman-zhou-plX7xeNb3Yo-unsplash.jpg");
  background-size: cover;
  background-position: center;
 }

 .top-title{
  color: white;
  font-size: 100px;
 }

 .top-item{
  text-align: center;
  margin: 150px 0 0 200px;
 }

 .top-signup{
  margin-right: 30px;
 }

 .top-button{
  margin: 60px 90px 0 0;
 }

 .about-container{
  height: 600px;
  background-image: image-url("koukichi-takahashi-fZdX9BW8WDs-unsplash.jpg");
  background-size: cover;
  background-position: center;
 }

 .about-item{
  color: white;
  text-align: center;
  margin: 150px 0 0 50px;
 }

 .about-title{
  font-size: 100px;
 }

 .about-body{
  font-size: 30px;
 }

 .comment-button{
  margin-bottom: 20px;
 }

 .flex-container{
  display: flex;
  margin-top: 20px;
 }

 .comment-count{
  margin-left: 20px;
  margin-right: 250px;
 }

 .edit-destroy-button{
  margin-top: 30px;
 }

 .error-message{
  color: red;
 }

 .notice{
  text-align: center;
  background-color: lightgreen;
 }
